aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.6.1
astunparse==1.6.3
async-timeout==4.0.2
asyncpg==0.25.0
asyncpg-stubs==0.25.4
attrs==21.4.0
braceexpand==0.1.7
cachetools==5.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.4
discord.py @ git+https://github.com/Rapptz/discord.py@fb8d5c15d0ccdde369e4262fa5f9aad95e7989f2
dnspython==2.2.1
filelock==3.7.1
frozenlist==1.3.0
h11==0.13.0
huggingface-hub==0.8.1
idna==3.3
import-expression==1.1.4
jishaku @ git+https://github.com/Gorialis/jishaku@717f6543bdc99758b6aee5a00231ad4f4f27de7e
motor==3.0.0
motor-stubs==1.7.1
multidict==6.0.2
mutagen==1.45.1
numpy==1.23.1
packaging==21.3
Pillow==9.2.0
psutil==5.9.0
pycparser==2.21
pycryptodomex==3.15.0
pygit2==1.9.1
pymongo==4.1.1
pyparsing==3.0.9
python-dotenv==0.20.0
PyYAML==6.0
regex==2022.7.25
requests==2.28.1
six==1.16.0
sniffio==1.2.0
starlette==0.20.4
tokenizers==0.12.1
torch==1.12.0
tqdm==4.64.0
transformers==4.21.0
typing_extensions==4.2.0
urllib3==1.26.11
hypercorn==0.13.2
yarl==1.7.2
