aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncpg==0.25.0
attrs==21.4.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.10
git+https://github.com/Rapptz/discord.py@26457b6
git+https://github.com/Gorialis/jishaku@8bc4ed4
dnspython==2.1.0
idna==3.3
multidict==5.2.0
psutil==5.9.0
pymongo==4.0.1
python-dotenv==0.19.2
typing_extensions==4.0.1
urllib3==1.26.8
yarl==1.7.2
youtube_search==2.1.0