[Unit]
Description=Kanapy
After=network-online.target

[Service]
Type=simple
WorkingDirectory=PATH/TO/Kanapy
ExecStart=/usr/bin/python3 main.py
User=root
Restart=always
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
